@media(max-width: 1210px) {
  .for-desktop {
    display: none;
  }
  .for-mobile {
    display: block;
    margin-top: 100px;
    padding-bottom: 60px;
    text-align: center;
  }
  .for-mobile p {
    text-align: center;
  }
  .fp-tableCell{
    vertical-align: top;
  }
  .floorbutton {
    color: #f7b66b;
    box-shadow: #e6b882 0 0 0 1px inset;
    border-radius: 3px;
    margin-bottom: 2px;
    width: 104px;
  }

  .header {
    font-size: 20px;
    color: #1cc1ff;
  }

  .bg-image-1 {
    background: url(/public/images/gallery/towers.jpg) center;
    background-position: 50% 50%;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #171717;
}
}
@media(max-width: 1160px) {
  .apartment-pick {
    width: 98% !important;
  }
}
@media (max-width: 915px) {
  #fp-nav {
    display: none !important;
  }
  .section-header .line-outer {
    margin-top: 70px;
  }
  
}

@media (min-width: 915px) {
  #main-navbar-top {
    display: none !important;
  }
}
@media (max-width: 760px) {
  .header-logo {
    width: 100px;
  }
}

@media (max-width: 954px) {
  .home-section .footer-button {
    right: 3% !important;
    left: 0;
  }
}

@media (max-width: 476px) {
  .floor-pick {
    width: 650px;
    margin-left: -80px;
    margin-top: 200px;
  }
}
@media (max-width: 806px) {
  .floor-pick {
    width: 130vw;
    margin-left: -80px;
  }
}
@media (max-width: 692px) {
  .floor-pick {
    width: 150vw;
    margin-left: -130px;
    margin-top: 10px;
  }
}
@media (max-width: 592px) {
  .floor-pick {
    width: 180vw;
    margin-left: -40vw;
    margin-top: 80px;
  }
}
@media (max-width: 454px) {
  .head-image .logo img {
    width: 100px;
  }
  .floor-pick {
    width: 190vw;
    margin-left: -45vw;
    margin-top: 170px;
  }
  h2 {
    font-size: 20px !important;
  }
}
@media (max-width: 374px) {
  .floor-pick {
    margin-top: 250px;
  }
}
@media (max-width: 322px) {
  .floor-pick {
    margin-top: 300px;
  }
}
@media (max-width: 770px) {
  .main-conteiner {
    flex-direction: column-reverse;
    padding: 0 20px;
  }
  .image-block img {
    min-height: 0 !important;
  }
  .vid_iframe {
    height: 100%;
    width: 100%;
  }
  #iframevideo {
    height: 60%;
    width: 100%;
  }
  .info-block, 
  .image-block {
    width: 100% !important;
  }
  .image-block .real-videos{
    flex-direction: row !important;
    justify-content: space-between;
  }
  .info-block {
    padding-right: 0;
  }
  .middle-objects {
    flex-wrap: wrap;
  }
  .number-info {
    flex-direction: column;
  }
  .number-info--block {
    margin-top: 15px;
  }
  .real-videos {
    justify-content: center;
  }
  .image-block {
    margin-bottom: 10px;
  }
  .bg-image-2 {
    background: url(/images/gallery/pattern1.gif) repeat top left #fdfdfd;
  }
  .bg-image-2 h2 {
    color: #000;
  }
}
@media (max-width: 768px) { 
  .logo-outer {
    display: flex;
    justify-content: center;
  }
  .other-link {
    display: flex;
    justify-content: center;
  }
}







